html {
    background-color: #317484;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  }
header {
    display:grid;
    background-color: #e3ebdc;
    border-radius: 20px;
    grid-template-columns: 1 fr;
    margin: 20px 20px;
    padding-top: 20px;
}

header > div {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto; 
}
header img {
    width: 20em;
    height: 20em;
    border: 3px solid rgb(206, 202, 202);
    border-radius: 10em;
}
* {
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    list-style-type: square;
}

a:hover {
    color: white;
    text-decoration: none;
}

main {
    display:grid;
    grid-template-columns: 1 fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin:0px 10px;
}

article {
    padding: 20px;
    margin: 10px;
}

.skill-list {
    background-color: #e3ebdc;
    border-radius: 20px;
}

footer {
    text-align: center;
}

.social {
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-left: 0px;
}
.social li {
    list-style-type: none;
    margin: 0px 10px;
}

.social img {
    width: 40px;
    height: 40px;
}